@import '../scss/spacing';

.Header {
  margin: 0;
  &--h1 {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
  }

  &--h2 {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
  }

  &--h3 {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
  }

  &--h4 {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
  }

  &--h5 {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
  }

  &--h6 {
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;
  }
}