@import '../scss/spacing';
$grey: 44;

.Modal__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($grey, $grey, $grey, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@mixin modal-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Modal__container {
  @include modal-container;
  &--large {
    @include modal-container;
    width: 70%;
    min-height: 70%;
  }

  &--medium {
    @include modal-container;
    width: 50%;
    min-height: 50%;
  }

  &--small {
    @include modal-container;
    width: 30%;
    height: 40%;
  }
}

.Modal__header {
  border-bottom: 1px solid #ccc;
  padding: $spacing-md;
  width: 100%;
  box-sizing: border-box;

  & > h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.Modal__footer {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: $spacing-md;
  // position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.Modal__footerButton button:not(:first-child) {
  margin-left: $spacing-md;
}

.Modal__content {
  // max-height: 100px;
  flex-grow: 9999;
  overflow: scroll;
  padding: $spacing-md;
}

.Modal__footerButton {
  display: flex;
  align-items: center;
  height: 100%;
}

.Modal__footerButtonWrapper {
  float: right;
  height: 100%;
  margin-right: $spacing-md;
}

.Modal__footerButtonWrapper2 {
  display: flex;
  align-items: center;
  height: 100%;
}
