$small: 30px;
$medium: 50px;
$large: 70px;
$xlarge: 100px;

.Icon {

  &--hover:hover {
    color: white;
  }

  &--sm {
    height: $small;
    width: $small;
  }

  &--md {
    height: $medium;
    width: $medium;
  }

  &--lg {
    height: $large;
    width: $large;
  }

  &--xl{
    height: $xlarge;
    width: $xlarge;
  }
}
