@import '../scss/spacing';

.TextInput {
  padding: $spacing-sm;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #eeeeee;
  transition: .3s;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border: 1px solid #4c6488;
    background-color: #eeeeee;
    color: #071b39;
  }

  &::placeholder {
    color: #ddeeff;
  }

  &__label {
    color: #555555;
    padding-bottom: $spacing-xs;
  }
}
