@import '../scss/spacing';

.Median {
  display: flex;

  &--verticalAlign {
    align-items: center;
  }
}

.Median__sm {
  padding: $spacing-sm;
}

.Median__md {
  padding: $spacing-md;
}

.Median__lg {
  padding: $spacing-lg;
}
